<div class="container">
  <div class="mainArea mx-5 my-5 px-4 py-4">
    <p class="mb-3">有建設性的 Retrospective Meeting</p>
    <p class="mb-4">請選出相對適合的意見！</p>
    <div class="mb-5 round-1">
      <p class="mb-4">做得好的地方</p>
      <div class="doingbetter_card_wrap">
        <label class="doingbetter_card" for="place1" name="single" >

          <input name="op1" id="place1" class="radio" type="radio"  />
          <span class="plan-details">
            <span class="plan-type">這次我幫了很多人救火耶</span>
          </span>
        </label>

        <label class="doingbetter_card" for="place1" name="single">
          <input name="op1" class="radio" id="place1" type="radio" checked="checked" />
          <span class="plan-details" aria-hidden="true">
            <span class="plan-type"
              >大家在開發上都會互相 cover，讓進度如期完成！</span
            >
          </span>
        </label>
      </div>
    </div>
    <div class="mb-5 round-2">
      <p class="mb-3">有哪些可以做得更好</p>
      <div class="doingbetter_card_wrap">
        <label class="doingbetter_card" for="place2" name="single">
          <input name="op2" class="radio" id="place2" type="radio" />
          <span class="plan-details">
            <span class="plan-type"
              >開發時間拿捏不準確，都是設計出稿出太慢...</span
            >
          </span>
        </label>

        <label class="doingbetter_card" for="place2" name="single">
          <input name="op2" class="radio" id="place2" type="radio" checked="checked"/>
          <span class="plan-details" aria-hidden="true">
            <span class="plan-type"
              >可以記錄這次的開發時間，讓下次協作的時候，可以作為預估deadline的依據！</span
            >
          </span>
        </label>
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button

        type="button"
        class="btn btn-outline-secondary px-4"
        onclick="sendMsg()"
      >
        驗收觀念
      </button>
    </div>
  </div>
</div>
<!-- routerLink="/the-end" -->
