<div class="container">
    <div class="step2_testArea mx-5 px-4 py-4 my-5">
        <p class="mb-3">流程拼拼大風吹</p>
        <p class="mb-5">
            尊榮旅遊社即將推行線上下單業務，並採取 Scrum 開發模式，身為 Scrum Ｍaster 請協助為該公司第一個為期一週的 Sprint 安排流程～
        </p>


        <div class="week-wrap">


            <div class="fttingArea ">
                <p>Monday</p>

                <div cdkDropList #oneList="cdkDropList" [cdkDropListData]="one"
                    [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList,fourList,fiveList,sixList]" [cdkDropListEnterPredicate]="OnePredicate"
                    class="coolJob-list optionArea" (cdkDropListDropped)="drop($event)">
                    <div class="coolJob-box" *ngFor="let item of one" cdkDrag>
                        <h3>{{item.title}}</h3>
                        <p>{{item.content}}</p>
                    </div>
                </div>
            </div>

            <div class="fttingArea">
                <p>Tuesday</p>

                <div cdkDropList #twoList="cdkDropList" [cdkDropListData]="two"
                    [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList,fourList,fiveList,sixList]" [cdkDropListEnterPredicate]="TwoPredicate"
                    class="coolJob-list optionArea" (cdkDropListDropped)="drop($event)">
                    <div class="coolJob-box" *ngFor="let item of two" cdkDrag> <h3>{{item.title}}</h3>
                        <p>{{item.content}}</p></div>
                </div>
            </div>

            <div class="fttingArea">
                <p>Wednesday</p>

                <div cdkDropList #threeList="cdkDropList" [cdkDropListData]="three"
                    [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList,fourList,fiveList,sixList]" [cdkDropListEnterPredicate]="ThreePredicate"
                    class="coolJob-list optionArea" (cdkDropListDropped)="drop($event)">
                    <div class="coolJob-box" *ngFor="let item of three" cdkDrag> <h3>{{item.title}}</h3>
                        <p>{{item.content}}</p></div>
                </div>
            </div>

            <div class="fttingArea ">
                <p>Thursday</p>

                <div cdkDropList #fourList="cdkDropList" [cdkDropListData]="four"
                    [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList,fourList,fiveList,sixList]" [cdkDropListEnterPredicate]="FourPredicate"
                    class="coolJob-list optionArea" (cdkDropListDropped)="drop($event)">
                    <div class="coolJob-box" *ngFor="let item of four" cdkDrag> <h3>{{item.title}}</h3>
                        <p>{{item.content}}</p></div>
                </div>
            </div>
            <div class="fttingArea">
                <p>Friday</p> 

                <div cdkDropList #fiveList="cdkDropList" [cdkDropListData]="five"
                    [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList,fourList,fiveList,sixList]" [cdkDropListEnterPredicate]="FivePredicate"
                    class="coolJob-list optionArea" (cdkDropListDropped)="drop($event)">
                    <div class="coolJob-box" *ngFor="let item of five" cdkDrag> <h3>{{item.title}}</h3>
                        <p>{{item.content}}</p></div>
                </div>
                <div cdkDropList #sixList="cdkDropList" [cdkDropListData]="six"
                [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList,fourList,fiveList,sixList]" [cdkDropListEnterPredicate]="SixPredicate"
                class="coolJob-list optionArea" (cdkDropListDropped)="drop($event)">
                <div class="coolJob-box" *ngFor="let item of six" cdkDrag> <h3>{{item.title}}</h3>
                    <p>{{item.content}}</p></div>
            </div>
            </div>

        </div>









        <p class="mb-5">
            請將下列會議按應該發生的順序拖曳至正確的時段～
        </p>

        <div >
            <div cdkDropList #AllInList="cdkDropList" [cdkDropListData]="AllIn"
                [cdkDropListConnectedTo]="[oneList,twoList,threeList,fourList,fiveList,sixList]" class="optionArea week-wrap item-group" (cdkDropListDropped)="drop($event)">
                <div class="coolJob-box" *ngFor="let item of AllIn" cdkDrag>
                    <h3>{{item.title}}</h3>
                    <p>{{item.content}}</p>
                    
                    
                    </div>
            </div>
        </div>








        <!-- 按鈕 -->
        <div class="mb-3">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button (click)="visinfo()" type="button" class="btn btn-outline-secondary btn-lg px-4">
                    送出答案
                </button>
            </div>
        </div>
    </div>
</div>



<ng-template #tpl>
    <div class="overlaybox px-4 py-4">
      <img class="my-5" src="./assets/images/correct_icon.svg" alt="" />
      <button type="button" class="d-flex btn btn-outline-secondary px-5">
        <a routerLink="/pd-backlog">恭喜技能 GET！</a>
      </button>
    </div>
  </ng-template>
  
  <ng-template #tplFalse>
    <div class="overlaybox px-4 py-4">
      <img class="my-5" src="assets/images/wrong_icon.svg" alt="" />
      <button type="button" class="d-flex btn btn-outline-secondary px-5">
        <a routerLink="/intro">再看一次觀念</a>
      </button>
    </div>
  </ng-template>