<!-- 以下測試內容 -->
<p>page1-intro works!</p>
<button routerLink="/week-flow" class="btn-round" type="button">
  驗收觀念
</button>

<!-- 測試內容end -->

<!-- 以下正式內容 -->
<div class="container">
  <div class="mainArea mx-5 px-4 py-4 my-5">
    <p class="mb-3">為什麼公司都在問：你熟 SCRUM 嗎？</p>
    <p class="mb-4">
      SCRUM
      是目前數位產品開發常見的「工作模式」，從如何完成、進度控管、成果檢視一系列的操作指南。
    </p>
    <div class="row mb-3 option-cube-wrap">
      <div class="col mx-3">
        <p>Planning Meeting</p>
        <p>規劃這一個 sprint 要做哪些任務才能達成目標</p>
      </div>
      <div class="col mx-3">
        <p>Standup Meeting</p>
        <p>每天簡要彙報進度與接著要做的事情</p>
      </div>
      <div class="col mx-3">
        <p>Review Meeting</p>
        <p>檢視任務完成的狀況與品質</p>
      </div>
      <div class="col mx-3">
        <p>Retrospective Meeting</p>
        <p>提出做得好的地方以及可以改善的地方</p>
      </div>
    </div>
    <div class="row mb-4 mx-2 sprint">
      <p class="mb-3 mx-auto">SPRINT</p>
      <p class="mb-3">
        一個階段性未達成目標的工作期間，又稱為一次「短衝」，取意自「衝刺」的意思，通常為
        1 - 2 週
      </p>
      <img src="/assets/images/white_arrow_horizon.svg" alt="" />
    </div>
    <div class="mb-4">
      <p class="mb-3">參與人員</p>
      <div class="row participant_card_wrap px-4">
        <div class="col mx-4 d-flex">
          <img src="/assets/images/peer_icon.svg" alt="" />
          <div class="text_wrap">
            <p>Product Owner</p>
            <p>產品經理、總負責人</p>
          </div>
        </div>
        <div class="col mx-4 d-flex">
          <img src="/assets/images/peer_icon.svg" alt="" />
          <div class="text_wrap">
            <p>Scrum Master</p>
            <p>實踐 Scrum 流程的總教練</p>
          </div>
        </div>
        <div class="col mx-4 d-flex">
          <img src="/assets/images/peer_icon.svg" alt="" />
          <div class="text_wrap">
            <p>Development Team</p>
            <p>開發人員、設計、QA 等執行人員</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-secondary px-4">
        驗收觀念
      </button>
    </div>
  </div>
</div>
