<div class="container">
  <div class="mainArea">
    <p class="mb-3">產品待辦清單（Product Backlog）</p>
    <p class="mb-4" style="padding-right: 5rem">
      在 Sprint 之前，還有一個很重要的工作就是，由 Product Owner 制定 Product
      Backlog，確定開發優先序，以利往後每個 Planning meeting
      都可以安排符合產品運營策略的工作項目
    </p>
    <div class="row mb-4">
      <div class="col">
        <p class="mb-3">主要負責人員</p>
        <div class="participant_card_wrap">
          <div class="d-flex">
            <img src="./assets/images/peer_icon.svg" alt="" />
            <div class="text_wrap">
              <p>Product Owner</p>
              <p>產品經理、總負責人</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <p class="mb-3">推薦工具</p>
        <a href="https://www.atlassian.com/software/jira" target="_blank">
        <img
          class="mt-3"
          src="./assets/images/atlassian-jira-logo-large 1.svg"
          alt=""
        />
      </a>
      </div>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button routerLink="/pd-flow" type="button" class="btn btn-outline-secondary px-4">
        驗收觀念
      </button>
    </div>
  </div>
</div>
