<div class="container">
    <div class="step2_testArea mx-5 px-4 py-4 my-5">
        <p class="mb-3">產品待辦清單排排看！</p>
        <p class="mb-5">
            尊榮旅遊社即將推行線上下單業務，優化線上下單系統以利促銷業務順利進行是首要考量！請將正確的優先序拖曳至框框裡！
        </p>
        <div class="mb-3">
            <div class="row mb-5">
                <div class="col-4 px-3 fttingArea">
                    <!-- 這裡放選項 -->
                    <div cdkDropList #oneList="cdkDropList" [cdkDropListData]="one"
                        [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList]"
                        [cdkDropListEnterPredicate]="OnePredicate" class="coolJob-list optionArea"
                        (cdkDropListDropped)="drop($event)">
                        <div class="coolJob-box" *ngFor="let item of one" cdkDrag>
                            <h3>{{item.title}}</h3>
                            <p>{{item.content}}</p>
                        </div>
                    </div>

                    <div cdkDropList #twoList="cdkDropList" [cdkDropListData]="two"
                        [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList]"
                        [cdkDropListEnterPredicate]="TwoPredicate" class="coolJob-list optionArea"
                        (cdkDropListDropped)="drop($event)">
                        <div class="coolJob-box" *ngFor="let item of two" cdkDrag>
                            <h3>{{item.title}}</h3>
                            <p>{{item.content}}</p>
                        </div>
                    </div>

                    <div cdkDropList #threeList="cdkDropList" [cdkDropListData]="three"
                        [cdkDropListConnectedTo]="[AllInList,oneList,twoList,threeList]"
                        [cdkDropListEnterPredicate]="ThreePredicate" class="coolJob-list optionArea"
                        (cdkDropListDropped)="drop($event)">
                        <div class="coolJob-box" *ngFor="let item of three" cdkDrag>
                            <h3>{{item.title}}</h3>
                            <p>{{item.content}}</p>
                        </div>
                    </div>





                </div>
                <div class="col-3 px-4 imgArea">
                    <p>最優先</p>
                    <img src="./assets/images/priority_arrow.svg" alt="" />
                </div>

                <!-- 先搬過來看看 -->

                <div cdkDropList #AllInList="cdkDropList" [cdkDropListData]="AllIn"
                    [cdkDropListConnectedTo]="[oneList,twoList,threeList]" class="col-4 optionArea week-wrap item-group"
                    (cdkDropListDropped)="drop($event)">
                    <div class="coolJob-box" *ngFor="let item of AllIn" cdkDrag>
                        <h3>{{item.title}}</h3>
                        <p>{{item.content}}</p>


                    </div>
                </div>





            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button routerLink="/retro" type="button" class="btn btn-outline-secondary btn-lg px-4">
                    送出答案
                </button>
            </div>
        </div>
    </div>
</div>
