@use 'src/scss/abstracts/function' as fn;

.cover_txt_wrap {
  margin-top: 10%;
  .cover_txt_wrap-right {
    display: flex;
    align-items: center;
    color: #59597c;

    @media (max-width: 767px) {
      margin-top: -2rem;
      justify-content: center;
    }

    p:nth-child(1) {
      font-family: "M PLUS Rounded 1c";
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 40px;

      @media (max-width: 450px) {
        font-size: fn.rem2vw(3.5,450);
        line-height: fn.px2vw(40,450);
        text-align: center;
      }
    }

    p:nth-child(2) {
      font-family: "Noto Sans TC";
      font-weight: 300;
      font-size: 2rem;
      line-height: 46px;

      @media (max-width: 450px) {
        font-size: fn.rem2vw(2,450);
        line-height: fn.px2vw(46,450);
        text-align: center;
      }
    }

    .btn-round {
      box-shadow: 0px 4px 8px rgba(255, 115, 0, 0.28);
      border-radius: 100px;
      padding: 16px 60px;
      background: radial-gradient(
        104.16% 106.67% at 50% 0%,
        #fe9b4b 0%,
        #f47814 100%
      );

      font-size: 20px;
      font-family: "Noto Sans TC";
      font-weight: 700;
      letter-spacing: 4px;
      color: #ffffff;
    }
  }
}
.container-anima {
  width: 100%;
  margin-left: auto;
}
