
<div class="middle-line"></div>
<h1>cool-job works!</h1>

<div class="coolJob-container">
  <h2>ALL</h2>

  <div
      cdkDropList
      #AllInList="cdkDropList"
      [cdkDropListData]="AllIn"
      [cdkDropListConnectedTo]="[oneList,twoList]"
      class="coolJob-list"
      (cdkDropListDropped)="drop($event)">
      <div class="coolJob-box" *ngFor="let item of AllIn" cdkDrag>{{item}}</div>
  </div>
  </div>


<div class="coolJob-container">
    <h2>一</h2>

    <div
      cdkDropList
      #oneList="cdkDropList"
      [cdkDropListData]="one"
      [cdkDropListConnectedTo]="[AllInList,twoList]"
      [cdkDropListEnterPredicate]="OnePredicate"

      class="coolJob-list"
      (cdkDropListDropped)="drop($event)">
      <div class="coolJob-box" *ngFor="let item of one" cdkDrag>{{item}}</div>
    </div>
  </div>

<div class="coolJob-container">
<h2>二</h2>

<div
    cdkDropList
    #twoList="cdkDropList"
    [cdkDropListData]="two"
    [cdkDropListConnectedTo]="[oneList,AllInList]"
    [cdkDropListEnterPredicate]="TwoPredicate"

    class="coolJob-list"
    (cdkDropListDropped)="drop($event)">
    <div class="coolJob-box" *ngFor="let item of two" cdkDrag>{{item}}</div>
</div>
</div>

<!-- <button (click)="onClick()" >顯示資料</button> -->
<button (click)="visinfo()" >顯示資料</button>

<ng-template #tpl>
  <p>123333333333</p>
  <div class="modal">
    <i class="modal__close" (click)="onClose()">X</i>
    <div class="modal__container">HI 我是彈出視窗內容</div>
  </div>
</ng-template>
