
<div class="middle-line"></div>
<h1>cool-job works!</h1>

<div class="coolJob-container">
    <h2>一</h2>
  
    <div
      cdkDropList
      #oneList="cdkDropList"
      [cdkDropListData]="one"
      [cdkDropListConnectedTo]="[threeList,twoList]"

      class="coolJob-list"
      (cdkDropListDropped)="drop($event)">
      <div class="coolJob-box" *ngFor="let item of one" cdkDrag>{{item}}</div>
    </div>
  </div>
  
<div class="coolJob-container">
<h2>二</h2>

<div
    cdkDropList
    #twoList="cdkDropList"
    [cdkDropListData]="two"
    [cdkDropListConnectedTo]="[oneList,threeList]"
    class="coolJob-list"
    (cdkDropListDropped)="drop($event)">
    <div class="coolJob-box" *ngFor="let item of two" cdkDrag>{{item}}</div>
</div>
</div>

<div class="coolJob-container">
    <h2>三</h2>
    
    <div
        cdkDropList
        #threeList="cdkDropList"
        [cdkDropListData]="three"
        [cdkDropListConnectedTo]="[oneList,twoList]" 
        

        
        class="coolJob-list"
        (cdkDropListDropped)="drop($event)">
        <div class="coolJob-box" *ngFor="let item of three" cdkDrag>{{item}}</div>
    </div>
    </div>

  